

@media only screen and (max-width: 600px){
  #app{
    width:100%;
    overflow: hidden;
  }
  .row{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .column{
    width:100%;
    margin-bottom: 10px;
    /* margin-right: 20px; */
  }
  .banner{
    height: 250px !important;
  }
  .modal-content{
    background-color: #fafafa;
    margin: 10% auto;
    padding: 20px;
    width: 95% !important;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
    0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
   }
   .dashboard-intro > h1{
    text-align: center;
   }
   .caterer-pix {
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
   }
   .caterer-details{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
   }
   .mealcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .mealcard-avatar > img {
    width:100%;
  }

}

/* @media (min-width: 768px){
  #app{
    width:100%;
    overflow: hidden;
  }
  .row{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .column{
    width:100vw;
    margin-right: 20px;
  }
} */

/* @media (min-width:992px){
  #app{
    width:100%;
    overflow: hidden;
  }
  .row{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .column{
    width:100vw;
    margin-right: 20px;
  }
} */