@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body{
  height: 100%;
  width:100%;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0 !important;
  font-weight: 400;
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
}
.theme-white{
  background-color: #fff !important;
}
.banner{
  position: relative;
  background: url('../images/eat.jpg');
  background-position: center;
  height:500px;
  box-sizing: border-box;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay{
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  background: rgba(0,0,0,0.4);
}
.overlay-text{
  height: 100%;
  width:100%;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}
.overlay-text > h1{
  font-size: 250%;
}
.footer{
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
}
.footer-body{
  background:#fff;
  padding: 5px;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
}
.footer-body ul {
  list-style-type: none;
  padding: 0px;
}
.footer-body ul li{
  display: inline-block;
}
/*custom elements*/
.p5{
  padding: 5px;
}
.p10{
  padding: 10px;
}
.pt-10{
  padding-top: 10px !important;
}
.py-10{
  padding: 10px 0px !important;
}
.mt-0{
  margin-top: 0px !important;
}
.mb-0{
  margin-bottom: 0px !important;
}
/*Typography*/
.text-center{
  text-align: center;
}
.text-shadow{
  text-shadow:0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}
/*colors*/
.orangered{
  color:orangered;
}
/*button*/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-light{
  font-family: 'Maven Pro', sans-serif;
  background: #fff;
  color:#6c757d;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
}
.btn-light:hover, .btn-light:focus{
  outline: none;
  box-shadow:none;
}
.btn-order{
  margin-top: 5px;
  font-family: 'Maven Pro', sans-serif;
  background:orangered;
  color:#fff;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}
.btn-order:hover, .btn-order:focus{
  background: orange;
  outline: none;
  box-shadow:none;
}
.btn-danger{
  margin-top: 5px;
  font-family: 'Maven Pro', sans-serif;
  background:#fa2337;
  color:#fff;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}
.btn-danger:hover, .btn-danger:focus{
  background:#f70941;
  outline: none;
  box-shadow:none;
}
.btn-blue{
  margin-top: 5px;
  font-family: 'Maven Pro', sans-serif;
  background:dodgerblue;
  color:#fff;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}
.btn-blue:hover, .btn-blue:focus{
  background:#188ee2;
  outline: none;
  box-shadow:none;
}
.btn-transparent{
  font-family: 'Maven Pro', sans-serif;
  background: none;
  color:#fff;
}
.btn-transparent:focus{
  outline: none;
}
/*img-fluid*/
.img-fluid{
  width:100%;
}
#meals{
  background: #fff;
}
.meals{
 padding: 50px 0px;
}
.meals > h1{
  padding-bottom: 15px;
}
/*card*/
.card{
  background: #fff;
  padding: 10px;
  border-top:3px solid orangered;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}
/*dashboard*/
.dashboard{
  background:#fff;
}
.dashboard-intro{
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: #fff;
  border-top:4px solid orangered;
  box-shadow:0 2px 6px 0 hsla(0,0%,0%,0.2); */
}
/* .mealcard{
  background: #fff;
  padding: 10px;
  /* margin-bottom: 15px; */
  border-top:4px solid orangered;
} */

